/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
/*  ----------------------- HEADER --------------------------- */
.logoh {
  display: flex;
  flex-direction: row; }

h1 {
  color: #0484b4;
  font-size: 2rem; }

h2 {
  color: #d1d1d1;
  font-size: 1.5rem; }

div.nav {
  margin-top: .9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

h3 {
  color: #d1d1d1;
  font-size: .9rem;
  margin-right: 1.3rem; }

figure.banner {
  width: 100%;
  margin-top: .5rem; }

figure.banner img {
  width: 100%; }

.blackbar {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 1rem;
  padding-bottom: 1rem; }
  .blackbar h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #e7db31; }
  .blackbar p {
    color: white;
    margin-left: 1rem; }
  .blackbar ul.formula {
    list-style-type: none; }
  .blackbar ul {
    color: white;
    text-align: left;
    margin-left: 3.7rem; }

h4 {
  font-size: 1.5rem;
  color: #0484b4;
  font-weight: 700;
  margin-top: 1rem;
  margin-left: 1rem; }

div.aboutus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: .5rem; }

div.aboutus article {
  margin: 2rem .4rem;
  text-align: left; }
  div.aboutus article p {
    text-align: left; }

h2 {
  color: #0484b4; }

div.aboutthem article h2 {
  margin-top: 1rem;
  color: #0484b4; }

div.bottom {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem 1rem; }
  div.bottom article {
    margin: 0 .5rem; }
  div.bottom article a {
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #0484b4;
    color: white;
    padding: .5rem 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 1rem; }
  div.bottom article a:hover {
    background-color: #5d9abc;
    color: darkgray; }

figure.about {
  width: 100%; }

figure.about img {
  width: 100%; }

div.bottom article:last-child {
  grid-column: 1 / span 1;
  margin-top: 2rem;
  margin-bottom: 2rem; }

div.sponsors {
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem;
  align-content: center;
  text-align: center; }
  div.sponsors figure.spon {
    width: 100%;
    margin: .5rem auto; }
  div.sponsors figure.spon img {
    width: 100%; }

p.company {
  text-align: center;
  font-size: .5rem;
  margin-top: 1rem; }

footer {
  max-width: 100%;
  padding: 1rem 0;
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  color: white; }
  footer p {
    margin: 0 4rem; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 35rem) {
  /*  ----------------------- MAIN --------------------------- */
  div.aboutus {
    grid-template-columns: 1fr 1fr;
    margin: 5rem; }

  div.aboutus article {
    text-align: left; }

  div.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 2rem 2rem; }
    div.bottom article {
      margin: 0 .5rem; }
    div.bottom article a {
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #0484b4;
      color: white;
      padding: .5rem 2rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      border-radius: 1rem; }

  h2 {
    color: #0484b4; }

  figure.about {
    width: 80%; }

  figure.about img {
    width: 100%; }

  div.aboutthem article h2 {
    margin-top: 1rem;
    color: #0484b4; }

  div.sponsors {
    display: flex;
    flex-direction: row;
    margin: 2rem 4rem;
    justify-content: space-between;
    align-content: center;
    text-align: center; }
    div.sponsors figure.spon {
      width: 100%;
      margin: auto .5rem; }
    div.sponsors figure.spon img {
      width: 100%; } }
@media only screen and (min-width: 60rem) {
  /*  ----------------------- BODY --------------------------- */
  header, nav, main, footer {
    max-width: 60rem;
    margin: 0 auto; }

  /*  ----------------------- NAVIGATION --------------------------- */
  main {
    margin: 0 auto; }

  .blackbar {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 11rem;
    padding-right: 11rem; }
    .blackbar ul.formula li {
      text-align: left; }

  h4 {
    font-size: 2rem;
    color: #0484b4;
    font-weight: 700;
    margin-top: 2.5rem;
    padding-left: 11rem;
    margin-bottom: -1.5rem; }

  div.aboutus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-left: 10rem;
    padding-right: 10rem; }

  figure.about {
    width: 100%; }

  figure.about img {
    width: 100%; }

  div.aboutus article h2 {
    margin-top: 1rem;
    color: #0484b4; }

  h2 {
    color: #0484b4; }

  div.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: 4rem;
    padding-left: 11rem;
    padding-right: 11rem;
    clear: both; }
    div.bottom article {
      margin: 0 .5rem; }
    div.bottom article a {
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #0484b4;
      color: white;
      padding: .5rem 2rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      border-radius: 1rem; }

  figure.about {
    width: 100%; }

  figure.about img {
    width: 100%; }

  div.aboutthem article h2 {
    margin-top: 1rem;
    color: #0484b4; }

  div.bottom article:last-child {
    grid-column: 1 / span 2;
    margin-top: -20%; }

  div.sponsors {
    display: flex;
    flex-direction: row;
    margin: 5rem 11rem;
    justify-content: space-between;
    align-content: center;
    text-align: center; }
    div.sponsors figure.spon {
      width: 100%;
      margin: auto .5rem; }
    div.sponsors figure.spon img {
      width: 100%; }

  footer {
    max-width: 100%;
    padding: 1rem 0;
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    color: white; }
    footer p {
      margin: 0 11rem; } }
