/*  ----------------------- BODY --------------------------- */

header, nav, main, footer {max-width: 60rem; margin: 0 auto;}
 

/*  ----------------------- NAVIGATION --------------------------- */
nav {
   
} // end nav


main {
    margin: 0 auto;
}





/*  ----------------------- MAIN --------------------------- */
main {
    
    
} // end main




.blackbar {
    display: flex;
    flex-direction: row;
   justify-content: center;

p {

}


ul.formula  {
     li {
         text-align: left;
     }
}





}