/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
body{
   
}


/*  ----------------------- HEADER --------------------------- */

.logoh {
    display: flex;
    flex-direction: row;
}

h1 {
    color: $fontcolor;
    font-size: 2rem;
}

h2 {
    color: $gray;
    font-size: 1.5rem;
}

/*  ----------------------- NAVIGATION --------------------------- */
nav {
    
    
} // end nav


/*  ----------------------- MAIN --------------------------- */
main {
    
    
    
    
} // end main














/*  ----------------------- FOOTER --------------------------- */
footer {
   
    
} // end footer


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
