/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
body{
   font-family: 'Teko', sans-serif;
}


/*  ----------------------- HEADER --------------------------- */

.logoh {
    display: flex;
    flex-direction: row;
}

h1 {
    color: $fontcolor;
    font-size: 2rem;
}

h2 {
    color: $gray;
    font-size: 1.5rem;
}


div.nav {
    margin-top: .9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    


}

h3 {
   
    color: $gray;
    font-size: .9rem;
    margin-right: 1.3rem;
}


figure.banner {
    width: 100%;
    margin-top: .5rem;
}


figure.banner img {
    width: 100%;
}


.blackbar {
display: flex;
flex-direction: column;
background-color: black;
margin-top: 1rem;
padding-bottom: 1rem;

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #e7db31;
}

p {
    color: white;
    margin-left: 1rem;
}

ul.formula {
    list-style-type: none;
    
}


ul {
    color: white;
    text-align: left;
    margin-left: 3.7rem;
}



} // end of black bar


h4 {
    font-size: 1.5rem;
    color: $fontcolor;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 1rem;
   
}

div.aboutus {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
         grid-column-gap: 2%;
        grid-row-gap: .5rem;
        
}


div.aboutus article {
    margin: 2rem .4rem;
    text-align: left;
    p {
        text-align: left;
    }
}

h2 {
    color: $fontcolor;
} 



div.aboutthem article {

    h2 {
       margin-top: 1rem;
    color: $fontcolor;
    }
    }



    div.bottom {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem 1rem;
    
    article {
        margin: 0 .5rem;
    }
    
    article a {
        display: block;
        text-decoration: none;
        text-align: center;
        background-color: $fontcolor;
        color: white;
        padding: .5rem 2rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        border-radius: 1rem;
        }


        article a:hover {
            background-color: #5d9abc;
            color: darkgray;
        }
    
    }


    figure.about {
        width: 100%;
        }
        
        figure.about img {
        width: 100%;
        }

       
    
        div.bottom article:last-child {
            grid-column: 1 / span 1;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }


        div.sponsors {
            display: flex;
            flex-direction: column;
            margin: 2rem 6rem;
            align-content: center;
            text-align: center;
            
        
        
            figure.spon {
                width: 100%;
                margin: .5rem auto;
            }
        
            figure.spon img {
                width: 100%;
            }
        }



        p.company {
            text-align: center;
            font-size: .5rem;
            margin-top: 1rem;
        }


        footer {
            max-width: 100%;
            padding: 1rem 0;
            background: rgb(30,87,153); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
        color: white; 
        
        p {
            margin: 0 4rem;
        }
        
        }


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
